.header {
    display: flex;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: royalblue;

    .searchBarForm{
        display: flex;
        width: 33vw;
        min-width: 250px;
        padding: 5px;
        margin: 10px auto;
        background-color: rgb(225, 225, 225);

        .inputWrapper {
            width: 85%;
            
            .searchInput{
                background-color: initial;
                border: none;
                font-size: 16px;
                width: 100%;
                padding-left: 5px;

                &:focus {
                    outline: none;
                }
            }
        }
        .iconWrapper {
            width: 15%;
            margin: auto;
            text-align: center;
        }
    }
}