.videoTileWrapper {
    text-decoration: none;
}

.videoTile {
    margin: 15px auto;

    .videoWrapper {
        display: flex;

        .thumbnail {
            margin: 0px 15px;
            max-width: 120px;
            width: 20%;
        }

        .videoTextWrapper {
            width: 80%;

            .title {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 600;
                padding-bottom: 10px;
                font-size: 18px;
                color: black;
            }

            .description {
                font-size: 14px;
                color: gray;
            }

            .channelTitle {
                font-size: 12px;
                padding-top: 10px;
                color: gray;
            }
        }
        .loadingText {
            padding: 15px;
            width: 100%;
            text-align: center;
        }
    }
}