.videoListWrapper {
    width: 67vw;
    min-width: 250px;
    margin: auto;
    margin-top: 25px;

    .emptyCollectionWrapper {
        text-align: center;
        font-size: 20px;
        margin-top: 100px;
        color: gray;
    }
}